.issue__block {
    box-shadow: 0 4px 30px rgba(49, 50, 56, 0.1);
    border-radius: 4px;
    border: 1px solid black;
    margin-bottom: 16px;
    padding: 0 8px;
}

.issue__thumb-up {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
